<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap" id="home" name="home">
			<header class="clearfix">
	  		 		<h1>Startup Coder Factory</h1>
	  		 		<p>Australia's best coding school for tech startup entrepreneurs.</p>
	  		 		<br><br><br>
	  		 		<div class="container">
	  		 		<div class="well">
	  		 		<h2>Register now for an upcoming info session or one-on-one consultation:</h2>
	  		 		<form class="form-inline" role="form">
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputEmail2">Name</label>
					    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Your name" autofocus="trues">
					  </div>
					  
					  <button type="submit" class="btn btn-warning btn-xl">Register</button>
					</form>
					</div></div>
	  		</header>	    
	    </div><!-- /headerwrap -->
<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="row">
				<div class="col-lg-4 callout">
					<span class="icon icon-stack"></span>
					<h2>Bootstrap 3</h2>
					<p>Shield Theme is powered by Bootstrap 3. The incredible Mobile First Framework is the best option to run your website. </p>
				</div><!-- col-lg-4 -->
					
				<div class="col-lg-4 callout">
					<span class="icon icon-eye"></span>
					<h2>Retina Ready</h2>
					<p>You can use this theme with your iPhone, iPad or MacBook Pro. This theme is retina ready and that is awesome. </p>
				</div><!-- col-lg-4 -->	
				
				<div class="col-lg-4 callout">
					<span class="icon icon-heart"></span>
					<h2>Crafted with Love</h2>
					<p>We don't make sites, we craft themes with love & passion. That is our most valued secret. We only do thing that we love.   </p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->
