<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap" id="home" name="home">
			<header class="clearfix">
	  		 		<!-- <p>A coding school for tech startup entrepreneurs.</p> -->
	  		 		
	  		 		<div class="row">
	  		 			<div class="col-md-6">
	  		 			</div>
	  		 				<div class="col-md-6">

	  		 					<h1>CODER FACTORY</h1>
	  		 					<h2>Changing the future of technology education. </h2>
	  		 				
					  		 		<br>
					  		 		<a href="#" class="btn btn-warning btn-xl">SIGN UP<BR>RECEIVE 100 FREE CREDIT POINTS</a>
										<br><br>
								</div>
							</div>
	  		</header>	    
	    </div><!-- /headerwrap -->
<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="row">
				<div class="col-lg-4 callout">
				
					<span class="icon icon-stack"></span>
					<h2>Bootstrap 3</h2>
					<p><span class="label label-warning">#web #design</span> <span class="label label-primary">50 points</span> <span class="label label-info">#workshop</span> 
					<br>Learn how to use this amazing CSS templating system. Make beautiful web sites without all the coding. </p>
				</div><!-- col-lg-4 -->
					
				<div class="col-lg-4 callout">
					<span class="icon icon-eye"></span>
					<h2>Retina Ready</h2>
					<p>You can use this theme with your iPhone, iPad or MacBook Pro. This theme is retina ready and that is awesome. </p>
				</div><!-- col-lg-4 -->	
				
				<div class="col-lg-4 callout">
					<span class="icon icon-heart"></span>
					<h2>Crafted with Love</h2>
					<p>We don't make sites, we craft themes with love & passion. That is our most valued secret. We only do thing that we love.   </p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->
